doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Not Found
h1 Page Not Found
ul
  li
    a(href='/') Main Page
    br
    a(href='/products') Products
