doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Products
a(href='/')  Main Page 

each product in products 
    h1= "product name = " + product.name + ', procut price= ' + product.price
